[Unit]
Description=VPNBook Scraper Service
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash /home/$USER/setup_and_scrape.sh
WorkingDirectory=/home/$USER
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target