[Unit]
Description=Run VPNBook Scraper every two weeks

[Timer]
OnUnitActiveSec=1209600
Unit=vpnbook-scraper.service
Persistent=true

[Install]
WantedBy=timers.target
